In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.11/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.11/dist-packages (from pyspark) (0.10.9.7)

In [2]:
#importing libraries
from pyspark.sql import SparkSession
from pyspark.sql.functions import col

In [4]:
# Create a Spark Session
spark = SparkSession.builder.appName("DataCleaningProject").getOrCreate()

In [5]:
#Load Sample Dataset
data = [
    ("John", 28, "New York"),
    ("Alice", None, "Los Angeles"),
    ("Bob", 35, "New York"),
    ("Alice", None, "Los Angeles"),
    (None, 40, "Chicago")
]

columns = ["Name", "Age", "City"]

df = spark.createDataFrame(data, columns)
print("Original Data:")
df.show()

Original Data:
+-----+----+-----------+
| Name| Age|       City|
+-----+----+-----------+
| John|  28|   New York|
|Alice|NULL|Los Angeles|
|  Bob|  35|   New York|
|Alice|NULL|Los Angeles|
| NULL|  40|    Chicago|
+-----+----+-----------+

In [7]:
#Remove Duplicates
df_no_duplicates = df.dropDuplicates()
print("After Removing Duplicates:")
df_no_duplicates.show()

After Removing Duplicates:
+-----+----+-----------+
| Name| Age|       City|
+-----+----+-----------+
| John|  28|   New York|
|  Bob|  35|   New York|
|Alice|NULL|Los Angeles|
| NULL|  40|    Chicago|
+-----+----+-----------+

In [8]:
#Handle Missing Values
df_cleaned = df_no_duplicates.dropna()
print("After Dropping Rows with Missing Values:")
df_cleaned.show()

After Dropping Rows with Missing Values:
+----+---+--------+
|Name|Age|    City|
+----+---+--------+
|John| 28|New York|
| Bob| 35|New York|
+----+---+--------+

In [9]:
#Save the Cleaned Data
df_cleaned.write.csv("cleaned_data.csv", header=True)